<ion-header>
  <ion-toolbar>
    <ion-title> {{isSelectable ? 'Manage pantry' : 'Pantry'}} </ion-title>

    <ion-item slot="end">
      <ion-button
        [color]="isSelectable ? 'danger' : 'primary'"
        (click)="gotoRecipeGen()"
      >
        <ion-icon
          slot="icon-only"
          [name]=" isSelectable ? 'chevron-back-outline' : 'menu-outline'"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar *ngIf="!isSelectable"></ion-searchbar>
    <ion-item *ngIf="isSelectable">
      <ion-label>
        {{products.length == 0 ? 'Add at least one product first' : 
          checkedProducts.length == 0 ? 'Select one or more products': 'Try ai or delete' 
      }}
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshdata($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="none"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <prod-list
    [products]="products"
    (itemId)="openModal('productDetail',$event)"
    (deleteProduct)="deleteProduct($event)"
    (itemsRefresh)="refreshdata($event)"
    (isChecked)="isChecked($event)"
    [selectable]="isSelectable"
    [inset]="isSelectable"
  ></prod-list>
</ion-content>

<ion-toolbar *ngIf="isSelectable && checkedProducts.length > 0">
  <ion-buttons slot="start">
    <ion-button fill="solid" color="danger" (click)="deleteAll()"> delete </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button fill="solid" color="primary"  (click)="generateRecipe()">
      Ai Recipe
      <ion-icon slot="end" name="color-wand-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-fab *ngIf="!isSelectable" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="scanBarcode()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openModal('addProduct')">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
